.card{
    background-color: greenyellow;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.col{
    display:inline;
    height: 100px;
    width: 100%;
    background-color: red;
    box-sizing: border-box;
    position: absolute;
    bottom: -100px;
    padding: 20px;
    transition-duration: 1s;


}
.card:hover .col{
    bottom: 0;

}
.card:hover{
    border: 1px solid red;
    transition-duration: 1s;
}
.card:hover  .col .yozuv{

    font-size: 40px;
    transition-duration: 4s;

}